@import "tailwindcss";

:root {
  --color-dark-bg: #1a1a1a;
  --color-dark-card: #2a2a2a;
  --color-primary-red: #ef4444;
  --color-light-grey-text: #d4d4d4;
  --color-border-grey: #4a4a4a;
  --color-input-bg: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 background-color: var(--color-dark-bg); /* Par défaut pour le thème sombre */
  color: var(--color-light-grey-text);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche les barres de défilement horizontales non désirées */
  scroll-behavior: smooth;
}
